<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Proyecto 2</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
</head>
<body  id="page-top">	
	<div class="container">
	<div class="row">
		<h1 class="titulo_inicio">Venta</h1>
	</div>
		
		<div class="row">
			<div class="col-sm-8">
				<!-- detalles de la venta -->		
				
				<div class="card border border-primary" th:object="${venta}">			        
					<div class="card-body row pt-4 pb-4">
					<div class="col-2"></div>
					  <div class="col-8">
					    <div class="card">
  						  <div class="card-header text-dark bg-light">Información de la venta</div>
					      <div class="card-body">
					        <div class="mb-2">
					        	<h5 th:text="'Fecha venta: '+${#temporals.format(venta.fecha, 'dd/MM/yyyy')}" class="card-text mb-2"></h5>
<!--    							<h5 th:text="'Hora venta: '+${#temporals.format(venta.hora, 'HH:mm:ss')}" class="card-text mb-2"></h5>-->
<!--								<h5 th:text="'Hora venta: ' + ${#temporals.format(T(java.time.LocalTime).of(venta.hora.hours, venta.hora.minutes, venta.hora.seconds), 'HH:mm:ss')}" class="card-text mb-2"></h5>-->
						
								<h5 th:if="${venta.hora != null}" th:text="'Hora venta: ' + ${#temporals.format(T(java.time.LocalTime).of(venta.hora.hours, venta.hora.minutes, venta.hora.seconds), 'HH:mm:ss')}" class="card-text mb-2"></h5>
								<h5 th:if="${venta.hora == null}" th:text="'Hora venta: --'" class="card-text mb-2"></h5>
					        	<h5 th:text="'Fecha concierto: '+*{#temporals.format(concierto.fecha, 'dd/MM/yyyy')}" class="card-text mb-2"></h5>
					        	<h5 th:text="'Número entradas: '+*{numeroentradas}" class="card-text mb-2"></h5>	
					        	<h5 th:text="'DNI comprador: '+*{dni}" class="card-text mb-2"></h5>	
					        	<h5 th:text="'Precio total: '+*{total}" class="card-text mb-2"></h5>					        	
					        </div>
					        
					        <p><a th:href="@{/ventas}" class="btn btn-success mt-3">Cerrar</a></p>
					      </div>
					    </div>
					  </div>
					  <div class="col-2"></div>
					</div>					
			   </div>   

			</div>
			<div class="col-sm-4">
				<nav>
					<ul>
						<li><a href="/admin">Inicio</a></li>
						<li><a href="/conciertos">Conciertos</a></li>
						<li><a href="/grupos">Grupos</a></li>
						<li><a href="/ventas">Ventas</a></li>
						<li><a href="/sala">Salas</a></li>
					</ul>
				</nav>
			</div>
		</div>
		
	</div>
	
	<script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
</html>