<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Acceso Denegado</title>
<link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
</head>
 
<body>
 
    <h3 th:if="${message != null}" th:utext="${message}" style="color: red;"></h3>
 
    <div th:if="${userInfo != null}" th:utext="${userInfo}"></div>
     <a th:href="@{login}">Volver</a>
     <script src="/webjars/jquery/jquery.min.js"></script>
	<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</body>
 
</html>